/* estilos.css */
/* reset basico */
/* 100% del tamaño que el usuario configuro
por omsión son 100 pixeles*/
html {
    font-size: 100%;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* la regla elimina los margenes y el relleno predeterminados de todos los elementos y
 establece el modelo de la caja para incluir el relleno y el borde ancho y alto del elemento */

body {
    font-size: 2rem;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: hsl(0, 74%, 45%);
}

h1{
    color: #000;
    /*esta regla define la fuente y el color del texto y el cuerpo del documento*/
    text-align: center;
}
h1 {
    font-size: 2rem;
    font-weight: 600
}
h2 {
    font-size: 1.5rem;
    font-weight: 500;
}
p {
    font-size: 1rem;
    font-weight: 400;
}
header {
    background-color: #fdfdfd;
    padding: 20px;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    max-width: 70ch;
    
}
main a {}
/* tranformación y espacio */

header nav a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9rem;
    text-decoration: none;;
}

/* aplicar estilos a clases */
.destacado {
    background-color: #fdfdfd;
    padding: 10px;/* aplica con las manillas del reloj: arriba - derecha - abajo - izquierda */
}

/* Aplicar estilos a identificadores o IDs */
#inicio { 
    background: #ffffff;
    padding: 20px;
}

/* estilos solo a enlaces */
nav a {
    color: #000;
    margin-right: 15px;
    transition: color 0.3s; /*cambio suave al pasar el mouse */
}
/* pseudo-clase :hover */
nav a:hover {
    color: #000; /* al pasar el cursor*/
}

tbody tr:nth-child(even){
    background-color: #ffffff;
}

/* pseudo elemento ::first-letter y ::selection */
article p::first-letter {
    font-size: 33px;
    font-weight: bold;
    color: #000;
}

::selection {
    background-color: #160068;
    color: #faf9f9;
}

/* agregar familia de fuentes traida de google fonts*/
body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

