/*css/estilos.css*/
/* Reset básico*/
/*100% del tamaño que el ususrio configuró
Por omisión son 16px, */
html{
    font-size: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}/*esta regla elimina los márgenes y el relleno predeterminados de todos los elementos y establece el modelo de caja para incluir el relleno y el borde en el ancho y alto del elemento*/
body {
    font-size: 1rem;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fcfcfc;
    padding-top: 50px;

}/*esta regla define la fuente y el color del texto en el cuerpo del documento*/

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
}

h1{
    color: #fff;
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    font-weight: 700;
}
h2 {
    font-size: 2rem;
    font-weight: 700;
}
h3 {
    font-size: 1.5rem;
    font-weight: 600;
}
p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 16px;
}

header {
    background-color: #1f4e79;
    color: white;
    padding: 24px;
    border-radius: 8px;
}
footer{
    background-color: #dce6f1;
    padding: 20px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
/*.portada-texto {
    background-color: rgba(0, 0, 40, 0.35); 
    padding: 24px;
    border-radius: 8px;
} */


h2, h3 {
    color: #1f4e79;
    margin-bottom: 12px;
}

main p {
    max-width: 70ch;
}/*ch es el ancho del carater cero de la fuenete en uso. el valor 70 marca el rango
de lectura cómoda por línea o renglón. más larga, la vista se pierde al cambia de línea*/
main a {
    text-decoration: none;
    border-bottom: 1px solid #1f4e79;
}

blockquote p {
    font-style: italic;
    color: #555;
    border-left: 4px solid #1f4e79;
}

/* Transformacion y espacio*/

header nav a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9rem;
    text-decoration: none;
    padding: 10px 15px;
}

header nav {
    align-self: center;
}

header nav ul {
    display: flex;
    list-style-type: none; /*quita las viñetas y el subrayado*/
    gap: 15px; /*separación uniforme entre elementos*/
     /* justify-content: flex-start; coloca los elementos al inicio de la fila
     justify-content: flex-end; coloca los elementos al final de la fila
     justify-content: center; coloca elementos en el centro
     justify-content: space-between; coloca elementos en ambos lados uniformemente
     justify-content: space-around; coloca espacio alrededor de cada uno */
     justify-content: space-evenly; /*coloca todos los espacios iguales*/
}

nav li {
    margin-right: 15px;
}

/*header nav li {
    display: inline-block;
    margin-right: 15px; 
} */

/*Aplicar estilos a clases*/
.destacado {
    background-color: #fff3cd;
    padding: 10px 20px; /*aplica com las manillas del reloj: ariba - derecha - abajo - izquierda*/
}


/*Aplicar estilos a identificadores o IDs*/
#inicio {
    position: fixed; /*fija con respecto a la ventana, header queda fijo arriba*/
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; acomoda arriba
    align-items: flex-end; acomoda abajo
    align-items: center; acomoda centro */
    align-items: baseline; /*acomoda por la linea de texto*/
    top: 0px;
    left: 0px;
    width: 100%;
    background-image: url(../recursos/fondo1.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    z-index: 100; /*cuanto mayor es el numero más al frente va a estar*/
}

/*#inicio {
    position: sticky fluye normal y se pega all llegar arriba o limite de su contenedor
    top: 0;
}*/

/*estilos solo a enlces dentro del nav*/
nav a {
    color: #fff;
    margin-right: 15px;
    transition: color 0.3s; /*cambio suave */
}
/*Pseudo-clase :hober*/
nav a:hover {
    color: #f8cbad; /*al pasar el cursor*/
}

/*Pseudo-clase :nth-child: filas cebra en la tabla*/
tbody tr:nth-child(even){
    background-color: #e0d8d8;
}
/*Pseudo-elemento ::first-letter y ::selection*/
article p::first-letter {
    font-size: 32px;
    font-weight: bold;
    color: #c55a11;
}

::selection {
    background-color: #1f4e79;
    color: white;
}

/*Agregar familia de fuentes traida de google fonts*/
body {
    font-size: 1rem;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #030303;    
    background-color: #fcfcfc;
    padding-top: 150px;
}

aside {
    padding: 20px;
    border: 2px solid #1f4e79;
    border-radius: 8px;
}
/* en este caso el padding aplica a los 4 lados a la vez 
padding: 10px 20px aplica vertical y horizontal
padding: 10px 20px 15px 5px aplica a los 4 lados valores distintos
en el sentido de las manillas del reloj*/

/*aplicar lado por lado
padding-top: 10px aplica arriba
padding-right: 10px aplica a la derecha
padding-bottom: 10px aplica abajo
padding-left: 10px aplica a la izquierda*/

/*aplica a la tabla horario.html*/
th, td {
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: left;
}
the fieldset {
    padding: 10px;
}

thead th {
    background-color: #1f4e79;
    color: white;
} /*trabaja encabezados de la tabla*/

tfoot th {
    padding: 12px;
    font-style: italic;
    background-color: #f5f7fa
}

fieldset {
    padding: 16px;
}

section {
    margin-bottom: 32px;
}

/**/
main.ul, main ol {
    padding-left: 20px;
    margin-bottom: 10px;
}

main li {
    margin-bottom: 6px
}

/*lista descrpitiva*/
#glosario dt {
    margin-left: 20px;
    margin-top: 8px;
} /*la sangria de <dd> es lo que gace visible la relación entre el término y su descripción*/

/*la tabla de calendario*/
table {
    border-collapse: colapse;
    width: 100%;
    margin-bottom: 24px;
}

caption {
    padding: 8px;
    font-weight: 700;
    margin-bottom: 24px;
}

/*las figuras de galeria.html*/
figure {
    border: 1px solid #dddddd;
    border-radius: 6px;
    padding: 12px;
}

/*los cinco valores de position
static: valor por omision.
relative: se desplaza desde su propia posición, conserva su propia posición
y los elementos vecinos no se mueven.
absolute: se ubica respecto al ancestro posicionado más cercano
fixed: se ubica respecto a la ventana del navegador no se mueve al desplazarse.
sticky: fluye normal hasta llegar a un umbral y entonces se pega.*/

.figura-destacada {
    position: relative; /*posiciona como elemento padre general y este no se mueve, es referencia de hijos absolutos*/
}

.etiqueta {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #c55a11;
    color: white;
    border-radius: 4px;
    font-size: 0.875rem;
    z-index: 10;
}
/*z-index SOLO FUNCIONA en elementos que tengan un position declarado
si el elemento es stactic no funciona
escala de valores de z-index
10 para elementos posicionados dentro del contenido
100 para el header fijo
1000 para ventanas emergentes y capas supuespuestas
(el valor más grande es 9999 no hace falta usarlo casi nunca porque no deja margen a otro valor por encima)*/

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fila-tarjetas {
    display: flex;
    gap: 20px;
    flex: 1;
    padding: 20px;
    border: 1px; color: #616161;
    border-radius: 8px;
    /*flex-grow: 1; cuando crece si sobre espacio 0 no crece
    flex-shrink: 1; cuando encoge si sobre espacio 0 no encoge
    flex-basis: 0; */
    flex-wrap: wrap; /*salta hacia abajo, wrap-reverse salta hacia arriba, no-wrap no hace nada*/
}

/*.tarjeta {
    display: flex;
    flex: 1;
    gap: 20px;
    flex-wrap: wrap;
} */

.galeria-grid {
    display: grid; /*actualiza el grid al igual que flexbox, se declara contenedor*/
    /*grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 1fr 3fr; la primera doble que las otras*/
    grid-template-columns: 2fr 1fr 1fr;
    gap: 50;
}

/*.galeria-grid figure:first-of-type {
    grid-column: 1 / 3; desde la LINEA 1 a LINEA 3 abarca las COLUMNAS 1 2
    el segundo numero es la linea donde termina, no la columna que ocupa
}*/

/*forma abreviada*/

.galeria-grid figure::first-of-type {
    grid-column: span 2; /*ocupa 2 columnas desde donde le toque. es más legible y no depende de una posición*/

}

.destacado {
    grid-row: span 2; /*abarca 2 filas*/
}

#contenido {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 24px;

    grid-template-areas: 'indice principal' 'indice laterral';
    /*css dibuja la estructura, cada cadena de texto es una fila.
    cada palabra dentro es una celda
    repetir un nombre hace que una zona abarque varias celdas
    aqui el indice ocupa 2 filas de la primera columna*/
    /*asignar cada elemento a su area*/
    #contenido > {grid-area: indice;}
    #contenido > {grid-area: principal;}
    #contenido > aside {grid-area: lateral;}
    grid-template-areas: 'indice pricipal';
}

/*que las imagenes no se deformen*/
.galeria-grid ing {
    width: 100%;
    height: 200px;
    object-fit: cover; /*recorta por el centro en vez de deformar*/
    border-radius: 6px;
}

.tarjeta2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}